.nutrition h2 {
    font-family: "Young Serif", Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--Brown800);
    padding-bottom: 2rem;
}

.nutrition p {
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--Stone600);
}

.nutrition .macroNutrients {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.nutrition .macroNutrients p {
    width: 6rem;
    display: flex;
    justify-content: space-between;
}

.nutrition .value {
    color: var(--Brown800);
    font-weight: 600;
}